*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header{
    background-color: #1762E7;
    height: 80px;
    position: fixed;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;   
}
.nav-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}
.nav-link{
    color: white;
    text-decoration: none;
}
.nav-link{
    padding: 8px 12px;
    border-radius: 3px;
}
.nav-link:hover{
    background-color: #2574FF;
    transition: 0.5s;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 60px;
    line-height: 80px;
    text-decoration: none;
    color: white;
}

/*Aqui empieza el contenido de la página */

.image-border{
    border-radius: 6px;
}
.button{
    background-color: #1762E7;
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    font-weight: bold;
    border-radius: 3px;
}
.center-content{
    justify-content: center;
}
.center-text{
    text-align: center;
}
.justify-text{
    text-align: justify;
}
.tittle{
    color: #1762E7;
    font-size: 35px;
}
.subtittle{
    font-size: 25px;
}
.text{
    font-size: 30px;
}
.blue{
    color: #2574FF;
}
.grey{
    color: grey;
}
.main{
    padding-top: 95px;
    display: flex;
}
.text-main{
    padding: 20px 50px;
    width: 50%;
    
}
.img1{
    width: 50%;
    height: 400px;
    background-image: url("./images/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.model-vaccines{
    padding: 40px 0px 40px;
}
.vaccine-model{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
}


.vaccine{
    padding: 20px 50px;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 50px 60px;
    gap: 50px;
}
.col{
    width: 150px;
}


.before-vaccine{
    display: flex;
    padding: 20px 50px;
}
.img2{
    width: 50%;
    height: 700px;
    background-image: url("./images/img2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.preparations{
    width: 50%;
}
.list-recom{
    padding: 20px 50px;
}
.list{
    padding-top: 40px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}
.contact{
    padding: 20px 50px;
}
.emergency{
    padding: 20px 50px;
    width: 50%;
}
.section-flex{
    display: flex;

}
.cards-contacts{
    width: 50%;
    padding: 40px 50px
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 50px 60px;
    gap: 50px;
}
.card-flex{
    display: flex;
}
.img3{
    width: 50%;
    height: 700px;
    background-image: url("./images/img3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}


/* Footer */
.footer{
    display: flex; 
    flex-wrap: wrap;
    background-color: #E8F6F9;
    width: 100%;
    padding: 40px 50px 40px;
    justify-content: space-between;
}
.footer-flex{
    display: flex;
}
.footer-text{
    width: 30%;
}
.footer-list{
    display: flex;
    margin-right: 40px;
    gap: 50px;
}
.footer-list-item{
    list-style: none;
    padding-top: 5px;
}
.footer-list-link{
    text-decoration: none;
    color: grey;
}